*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.filled{
  color:red
}

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

li{ 
    list-style:none
}

button{
    cursor:pointer;
    background-color:transparent;
    border:none;
    font-size:90px
}