*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display:flex;
    height:100vh;
    align-items: center;
    justify-content: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px
}

textarea{
    width:600px;
    height:350px;
    resize: none;
    border-radius: 10px;
    padding:10px;
    box-shadow: 1px 5px 5px rgb(77, 76, 76);
    margin-bottom: 25px;
    border:2px solid black
}

textarea:focus{
    outline: none;
    border-color:rgb(192, 249, 106)
}

.char{
    font-weight: 600;
    font-size: 30px;
}

.char-el{
    font-family: 'Courier New', Courier, monospace;
}

.red{
    color:red
}