*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.gallery{
  display:flex;
}

.gallery-item{
  cursor:pointer
}

.lightbox{
  display:none;
  width:100%;
  height:100%;
  background:rgba(0, 0, 0, 0.67);
  position:fixed;
  top:0;
  left:0;
}
